.salmon {
  position: absolute;
  left: 0;
  width: 200px;
  height: 200px;
  vertical-align: middle;
  }
  header {
    background-size: cover;
        text-align: center;
        background: url("yellow.png");
  }
  html {
    height: 100%
  }
  a {
    color: Green;
    font-weight: 900;
    font-size: 2em;
  }
  .main {
    background-color: #ffbf00;
  }
  h1 {
    font-size: 70px;
      font-color: Green;
    }
    .row {
      display: inline-block;
      border: auto;
      padding-left: 10px;
      margin-right: 10px
      height: 50px;
      padding: 20px ;
      margin: 0 auto;
     width: 1000px;
     font-size:20px;
     font-weight: 400;
  }
img {
  width: 600;
  height: 300;
  align: center;
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
body {
background-color: #ffbf00;
background-position: center;
background-size: cover;
padding: 30px;
border: 500px
}
#chia {
  width: 450;
   height: 350;
 }
#chicken {
  width: 550;
   height: 350;
 }
